﻿
@{
    ViewBag.Title = "LeadMaster";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section header
{
    <link href="~/Content/frontlayout/css/validation.css" rel="stylesheet" />
    <link href="~/Content/frontlayout/css/select2/select2.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Content/dropdown_search_box/js/select2.min.js"></script>
    <link href="~/Content/dropdown_search_box/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/frontlayout/css/select2_custom.css" rel="stylesheet" />
    <style>
        .alert-success1 {
            color: #ffffff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }
    </style>
}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-list"></i>&nbsp;LEAD MASTER</h2>
                    <div class="nav navbar-right panel_toolbox">
                        <button type="button" class="btn btn-info btn-sm" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#UploadLeadExcelModal">
                            <i class="fa fa-upload"></i>&nbsp; Upload Lead Excel
                        </button>
                        <button type="button" class="btn btn-info btn-sm addleadmodel" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AddLeadModal">
                            <i class="fa fa-plus"></i>&nbsp; New Lead
                        </button>
                        @*<a href="/sigmatech/add-edit-lead-entry" class="btn btn-info pull-right btn-sm"><span class="fa fa-plus" style="color: #ffffff;"></span>&nbsp; New Lead</a>*@
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    @*@if (@TempData["LeadMessage"] != null)
                        {
                            <div class="alert alert-success1" id="closeMessage">
                                @TempData["LeadMessage"]
                            </div>
                        }*@
                    <div class="table-responsive text-nowrap" style="overflow-y: auto;">
                        <table class="table table-striped table-bordered jambo_table bulk_action" style="font-size: 12px!important;line-height:1!important;">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Sr.</th>
                                    <th class="column-title">First Name</th>
                                    <th class="column-title">Last Name</th>
                                    <th class="column-title">Email Id</th>
                                    <th class="column-title">Mobile</th>
                                    <th class="column-title">Product Code</th>
                                    <th class="column-title">Lead From</th>
                                    <th class="column-title">State</th>
                                    <th class="column-title">Remark</th>
                                    <th class="column-title">Date</th>
                                    <th class="column-title text-center">Edit / Delete</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyLead">
                                <tr><td colspan='11' class='text-center'><h4>Please wait, record fetching... <i class='fa fa-pulse fa-spinner'></i></h4></td></tr>
                                @*@if (Model.code == "success")
                                    {
                                        if (Model.data != null && Model.data.Count > 0)
                                        {
                                            int loop = 0;
                                            foreach (var item in Model.data)
                                            {
                                                loop = loop + 1;
                                                <tr>
                                                    <td>@loop</td>
                                                    <td>@item.firstname</td>
                                                    <td>@item.lastname</td>
                                                    <td>@item.emailid</td>
                                                    <td>@item.mobile</td>
                                                    <td>@item.productcode</td>
                                                    <td>@item.leadsource</td>
                                                    <td>@item.state</td>
                                                    <td>@item.remarks</td>
                                                    <td>@item.creationdate</td>
                                                    <td class="text-center">Edit / Delete</td>
                                                </tr>
                                            }
                                        }
                                    }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UploadLeadExcelModal" role="dialog">
    <div class="modal-dialog modal-lg" style="margin:5% auto!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UploadLeadFormHeading"><i class="fa fa-plus"></i>&nbsp;<span class="spanmsg">UPLOAD LEAD DATA EXCEL FILE</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="LeadFormBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <p class="pull-right btn btn-info btn-sm"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download Excel Formate</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-validation" style="margin: 20px 0;">
                                <input type="file" id="fluDataExcel" class="btn btn-info" style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 offset-md-5">
                        <button id="btnUploadLeadSubmit" type="submit" class="btn btn-info only-save customer-form-submiter" onclick="return CheckUploadLeadForm();">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AddLeadModal" role="dialog">
    @*<div class='modal-dialog modal-lg' style='margin:5% auto!important;'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='LeadFormHeading'><i class='fa fa-plus'></i>&nbsp;<span class='spanmsg'>LEAD</span></h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                </div>
                <div class='modal-body' id='LeadFormBody'>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for='firstname'>First Name <span class='text-danger'>*</span></label>
                                <div class='form-validation'><input id='txtProductName' type='text' placeholder='Enter Product Name' class='form-control' /></div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for='last'>Last Name <span class='text-danger'>*</span></label>
                                <div class='form-validation'>
                                    <input id='txtProductCode' type='text' placeholder='Enter Product Code' class='form-control' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='form-group'>
                                <label for='emailid'>Email ID <span class='text-danger'>*</span></label>
                                <div class='form-validation'>
                                    <input id='txtEmailId' type='text' placeholder='Enter Product Name' class='form-control' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for='phonenumber'>Phone number</label>
                                <div class='form-validation'>
                                    <input id='txtPhoneNumber' type='text' placeholder='Enter Product Code' class='form-control' />
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for='mobile'>Mobile Number <span class='text-danger'>*</span></label>
                                <div class='form-validation'>
                                    <input id='txtEmailId' type='text' placeholder='Enter Product Name' class='form-control' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for='country'>Country <span class='text-danger'>*</span></label>
                                <div class='form-validation'>
                                    <input id='txtCountry' type='text' placeholder='Enter Product Name' class='form-control' />
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for='state'>State <span class='text-danger'>*</span></label>
                                <div class='form-validation'>
                                    <input id='txtState' type='text' placeholder='Enter Product Code' class='form-control' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for='interested'>Product Interested in <span class='text-danger'>*</span></label>
                                <div class='form-validation'>
                                    <input id='txtPInterestedIn' type='text' placeholder='Enter Whole Sale Rate' class='form-control' maxlength='10' />
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label for='leadfrom'>Lead from <span class='text-danger'>*</span></label>
                                <div class='form-validation'>
                                    <input id='txtLeadFrom' type='text' placeholder='Enter Whole Sale Rate' class='form-control' maxlength='10' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='form-group'>
                                <label for='remark'>Remark <span class='text-danger'>*</span></label>
                                <div class='form-validation'>
                                    <textarea id='txtRemark' type='text' placeholder='Enter Remark' class='form-control' rows='3'></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12 text-center text-danger' id='LeadError'></div>
                    </div>
                    <div class='ln_solid'></div>
                    <div class='row'>
                        <div class='col-sm-6'><p class='text-danger pull-left'>* Mandatory Fields</p></div>
                        <div class='col-sm-6 text-right'>
                            <button id='btnLeadSubmit' type='submit' class='btn btn-info only-save customer-form-submiter' onclick='return CheckLeadForm();'>
                                <i class='fa fa-floppy-o' aria-hidden='true'></i>&nbsp;Submit
                            </button>
                        </div>
                    </div>
                </div>
                <div class='modal-footer' id='leadmodalfooter' style='display:none;'>
                    <div class='col-md-7 col-sm-7 offset-md-5' id='LeadFooter'>
                        <button type='button' style='cursor: pointer;' class='btn btn-danger' data-dismiss='modal'><i class='fa fa-close' aria-hidden='true'></i>&nbsp;Close</button>
                    </div>
                </div>
            </div>
        </div>*@
</div>

@section footer
{
    <script src="~/Content/frontlayout/js/custom/leadmaster.js"></script>
    <script>
        setTimeout(function () { $('#closeMessage').slideToggle(3000).fadeOut('slow'); }, 3000);
    </script>
    <script src="~/Content/frontlayout/js/common.js"></script>
}

