﻿@model lms_system.Models.RoleModel
@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section header
{
    <link href="~/Content/frontlayout/css/validation.css" rel="stylesheet" />
    <link href="~/Content/frontlayout/css/switchery.min.css" rel="stylesheet" />

    <style>
        .ln_solid {
            margin-top: 120px;
            padding: 5px;
        }

        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            padding: 6px 12px;
            text-transform: uppercase;
            font-size: 13.5px;
            outline-offset: 0;
            border: 1px solid transparent;
            line-height: 1.2;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        input::-webkit-input-placeholder {
            font-size: 13px
        }

        .control-label, label {
            font-weight: 400;
            font-size: 13px;
            color: #2d2d2d;
            margin-bottom: 7px;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        }
    </style>
}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-list"></i>&nbsp;ROLE LIST</h2>
                    <div class="nav navbar-right panel_toolbox">
                        <button type="button" class="btn btn-info btn-sm rolemodal" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#BranchModal">
                            <i class="fa fa-plus"></i>&nbsp;New Role
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-bordered jambo_table bulk_action" style="font-size: 12px!important;line-height:1!important;">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Sr. </th>
                                    <th class="column-title">Role Code </th>
                                    <th class="column-title">Role Name </th>
                                    <th class="column-title">Description</th>
                                    <th class="column-title text-center">Status </th>
                                    <th class="column-title text-center">Date </th>
                                    <th class="column-title text-center">Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.RoleList != null && Model.RoleList.Count > 0)
                                {
                                    int count = 0;
                                    foreach (var role in Model.RoleList)
                                    {
                                        count = count + 1;
                                        <tr class="even pointer">
                                            <td>@count</td>
                                            <td>@role.RoleCode</td>
                                            <td>@role.RoleName</td>
                                            <td>@role.RoleDescription</td>
                                            <td class="text-center">
                                                @if (role.IsActive == 1)
                                                {
                                                    <i style="font-size: 20px;" class="fa fa-check-circle text-success" aria-hidden="true" title="Active"></i>
                                                }
                                                else
                                                {
                                                    <i style="font-size: 20px;" class="fa fa-times-circle text-danger" aria-hidden="true" title="DeActive"></i>
                                                }
                                            </td>
                                            <td class="text-center">@role.CreatedDate</td>
                                            <td class="text-center">
                                                @if (role.IsActive == 1)
                                                {
                                                    <div class="col-sm-6">
                                                        <i style="font-size: 20px;cursor:pointer;" class="fa fa-pencil-square-o text-success" aria-hidden="true" title="Modify"
                                                           onclick="ModifyRoleDetail('@role.RoleCode','@role.RoleName','@role.RoleDescription','@role.IsActive');">
                                                        </i>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <i id="roledelete_@role.RoleCode" style="font-size: 20px;cursor:pointer;" class="fa fa-trash text-danger" aria-hidden="true" title="Delete" onclick="DeleteRoleDetail('@role.RoleCode')"></i>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-sm-12">
                                                        <i id="rolerestore_@role.RoleCode" style="font-size: 20px; cursor:pointer;" class="fa fa-undo text-warning" aria-hidden="true" title="Restore" onclick="RestoreRoleDetail('@role.RoleCode')"></i>
                                                    </div>
                                                }
                                            </td>
                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr style="background-color:#fff!important;">
                                        <td colspan="7">
                                            <p class="text-danger text-center">No Record Found !</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="BranchModal" role="dialog">
    <div class="modal-dialog modal-lg" style="margin:5% auto!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i>&nbsp;ROLE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="RoleBody">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-validation">
                            <label for="recipient-name" class="col-form-label">Role Code:</label>
                            <input type="text" class="form-control" id="txtRoleCode" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-validation">
                            <label for="recipient-name" class="col-form-label">Role Name:</label>
                            <input type="text" class="form-control" id="txtRoleName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-validation">
                            <label for="message-text" class="col-form-label">Role Description:</label>
                            <textarea class="form-control" id="txtRoleDescription" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Status:</label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input id="chkRoleIsActive" type="checkbox" class="js-switch isactive" checked="checked" />&nbsp;&nbsp;
                                <span id="chkText" style="color:rgb(38, 185, 154);font-weight: bold;">Active</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="RoleError"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-7 col-sm-7 offset-md-3" id="RoleFooter">
                    <button type="button" id="btnRoleSubmit" class="btn btn-info btn-sm" style="width: 120px;" onclick="return RoleSection();">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/frontlayout/js/custom/privilege.js"></script>
    <script src="~/Content/frontlayout/js/switchery.min.js"></script>
    <script src="~/Content/frontlayout/js/common.js"></script>
}

